/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "./boards/shields/klink_kbd/common.keymap"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        deletearow: deletearow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END &kp LS(HOME) &kp BACKSPACE>;
            label = "DELETEAROW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&lt 2 TAB     &kp Q      &kp W     &kp E  &kp R        &kp T  &kp Y      &kp U  &kp I      &kp O          &kp P      &kp DELETE       &kp BSPC
&lt 3 ESCAPE  &kp A      &kp S     &kp D  &kp F        &kp G  &kp H      &kp J  &kp K      &kp L          &kp SEMI   &kp RET
&kp LSHFT     &kp Z      &kp X     &kp C  &kp V        &kp B  &kp N      &kp M  &kp COMMA  &kp DOT        &kp SLASH  &kp RIGHT_SHIFT
              &kp LCTRL  &kp LALT         &lt 1 SPACE         &kp SPACE                    &kp RIGHT_ALT  &kp RCTRL
            >;
        };

        layer1 {
            bindings = <
&kp LS(TAB)     &kp LC(BACKSPACE)  &kp PAGE_UP  &kp UP_ARROW  &kp PAGE_DOWN  &deletearow    &kp KP_NUMLOCK     &kp N7        &kp N8        &kp N9         &trans      &kp DELETE       &kp BACKSPACE
&kp ESCAPE      &kp HOME           &kp LEFT     &kp DOWN      &kp RIGHT      &kp END        &kp CAPS           &kp NUMBER_4  &kp N5        &kp NUMBER_6   &kp N0      &kp RET
&kp LEFT_SHIFT  &kp LC(Z)          &kp LC(X)    &kp LC(C)     &kp LC(V)      &kp LS(LG(S))  &kp LG(SEMICOLON)  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3   &kp KP_DOT  &kp RIGHT_SHIFT
                &trans             &trans                     &trans                        &kp SPACE                                      &kp RIGHT_ALT  &kp RCTRL
            >;
        };

        layer2 {
            bindings = <
&trans  &trans     &kp PAGE_UP  &kp UP     &kp PG_DN  &deletearow  &kp PLUS       &kp MINUS         &kp STAR          &kp FSLH              &kp EQUAL              &kp DEL    &kp BSPC
&trans  &kp HOME   &kp LEFT     &kp DOWN   &kp RIGHT  &kp END      &trans         &kp LS(NUMBER_9)  &kp LS(NUMBER_0)  &kp LBKT              &kp RBKT               &kp RET
&trans  &kp LC(Z)  &kp LC(X)    &kp LC(C)  &kp LC(V)  &trans       &kp LS(GRAVE)  &kp LS(SQT)       &kp SQT           &kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)  &kp RSHFT
        &trans     &trans                  &trans                  &kp SPACE                                          &kp RALT              &kp RCTRL
            >;
        };

        layer3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans          &trans                  &trans  &trans
            >;
        };

        layer4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans          &trans                  &trans  &trans
            >;
        };

        layer5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans          &trans                  &trans  &trans
            >;
        };

        layer6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans          &trans                  &trans  &trans
            >;
        };

        layer7 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans          &trans          &trans                  &trans  &trans
            >;
        };
    };
};
